.item{
  padding: 10px;
    border: 2px solid #f5f6f8;
    border-radius: 10px;
    box-shadow: 2px 1px 9px 2px #f9f6fd;
    min-width: 200px;
    background: #f9f6fd;
    margin: 10px;
    display: grid;
    grid-template-columns: 8fr 2fr;
}


.postLikes{
  align-self: end;
  font-size: 12px;
}