.header{
  grid-area: h;
    background-color: white;
    display: grid;
    grid-template-areas: "l s w";
    grid-template-columns: 3fr 6fr 2fr;
    position: fixed;
    width: 100%;
    z-index: 20;
    border-bottom: 1px solid #f5f6f8;
    opacity: 0.95;
    backdrop-filter: blur(10px);
  }

  .widgets{
    display: grid;
    grid-template-columns: 1fr 3fr;
    align-items: center;
  }
