.comment{
    border: 1px solid rgba(0,0,0,.06);
}

@media (max-width: 660px) {
    .buttonText {
        display: none !important;
    }
}

@media (min-width: 660px) {
    .buttonImg {
        display: none !important;
    }
}