/* @import 'antd/dist/antd.dark.css'; */
@font-face {
  font-family: 'Circe Light';
  src: url('./fonts/Circe-Light.eot');
  src: url('./fonts/Circe-Light.eot?#iefix') format('embedded-opentype'),
  url('./fonts/Circe-Light.woff') format('woff'),
  url('./fonts/Circe-Light.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  }

#components-layout-demo-fixed-sider .logo {
  height: 32px;
  margin: 16px;
  background: rgba(255, 255, 255, 0.2);
}
.site-layout .site-layout-background {
  background: #fff;
}

.logo {
  height: 32px;
  margin: 16px;
  background: rgba(255, 255, 255, 0.2);
}

.site-layout-sub-header-background {
  background: #fff;
}

.site-layout-background {
  background: #fff;
}
[data-theme="dark"] .site-layout-sub-header-background {
  background: #141414;
}





