@font-face {
  font-family: 'Circe Light';
  src: url('./fonts/Circe-Light.eot');
  src: url('./fonts/Circe-Light.eot?#iefix') format('embedded-opentype'),
  url('./fonts/Circe-Light.woff') format('woff'),
  url('./fonts/Circe-Light.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  }

.app-wrapper{
  display: grid;
  margin: 0 auto;
  grid-template-areas: 
  "h h h"
  "nl c nr";
  font-family: 'Circe Light';
  font-size: 20px;
  

  grid-template-rows: 60px 1fr;
  grid-template-columns: 2fr 10fr 2fr;
  grid-gap: 10px;
}

.app-wrapper-content{
  grid-area: c;
}





