.nav{
  grid-area: nl;
    background-color: #f5f6f8;
    padding: 0px 10px 10px 10px;
    position: fixed;
    height: 100%;
    z-index: 0;
    top: 60px;
    min-width: 120px;
    width: 12.5%;
    z-index: 20;
  }
  
